<div class = "container">
<h2>Hey <%= @input %>!</h2>
<h2>You think you are cool enough?</h2>
<b><i>POST IT GOOO! POST IT GOOOOO!</i></b>
<% @details.each do |detail| %>
<p>
<%= detail[1]%>
</p>
<% end %>
</div>